<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span>My Bookmarks</span>
  <button mat-raised-button routerLink="/add" >Add bookmark</button>
</mat-toolbar>

<router-outlet></router-outlet>
